### 기존 final data에 2025 data 추가하기

In [1]:
import pandas as pd
import numpy as np

In [22]:
final_df = pd.read_csv("C:/HANSSAK/SecureGate/Download/final_20_24_250529_장기체류(등록+거소)외국인_데이터셋 (2).csv", encoding='cp949')
thisYear_df = pd.read_csv("C:/HANSSAK/SecureGate/Download/2025_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949')

thisYear_df

      시도명 자격_대분류  2025_외국인수
0     강원도      0        224
1     강원도     A3         25
2     강원도     D1          1
3     강원도    D10        576
4     강원도     D2      10511
..    ...    ...        ...
495  충청북도     F5       4480
496  충청북도     F6       5070
497  충청북도     G1       3212
498  충청북도     H1         14
499  충청북도     H2       2484

[500 rows x 3 columns]

In [28]:
thisYear_df['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [23]:
thisYear_df["시도명"] = thisYear_df["시도명"].replace("강원특별자치도", "강원도")
thisYear_df["시도명"] = thisYear_df["시도명"].replace("전북특별자치도", "전라북도")

In [29]:
final_df['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [24]:
merged_df = final_df.merge(thisYear_df[['시도명', '자격_대분류', '2025_외국인수']],
                           on=['시도명', '자격_대분류'],
                           how='left')

final_df['2025_외국인수'] = merged_df['2025_외국인수']

In [25]:
merged_df

,시도명,자격_대분류,자격_코드명,2020_외국인수,2021_외국인수,2022_외국인수,2023_외국인수,2024_외국인수,20to21,21to22,22to23,23to24,2025_외국인수
0,강원도,0,자격없음,165.0,248.0,108.0,112.0,112.0,50.30,-56.45,3.70,0.00,224.0
1,강원도,A1,외교,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도,A2,공무,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도,A3,협정,9.0,10.0,11.0,10.0,12.0,11.11,10.00,-9.09,20.00,25.0
4,강원도,D1,문화예술,NaN,NaN,1.0,1.0,1.0,NaN,NaN,0.00,0.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,충청북도,F5,영주,2849.0,3177.0,3517.0,3951.0,4419.0,11.51,10.70,12.34,11.85,4480.0
516,충청북도,F6,결혼이민,4587.0,4648.0,4589.0,4811.0,5056.0,1.33,-1.27,4.84,5.09,5070.0
517,충청북도,G1,기타,1757.0,1684.0,1901.0,2518.0,3171.0,-4.15,12.89,32.46,25.93,3212.0
518,충청북도,H1,관광취업,4.0,1.0,8.0,19.0,14.0,-75.00,700.00,137.50,-26.32,14.0
519,충청북도,H2,방문취업,4125.0,3515.0,3111.0,2839.0,2524.0,-14.79,-11.49,-8.74,-11.10,2484.0

### 24to25 추가

In [26]:
# 안전한 계산을 위해 0으로 나누는 경우 대비
def calc_rate_change(new, old):
    return (new - old) / old if old != 0 else None

# 증감률 계산
merged_df["24to25"] = (((merged_df["2025_외국인수"] - merged_df["2024_외국인수"]) / merged_df["2024_외국인수"]) * 100).round(2)

merged_df

,시도명,자격_대분류,자격_코드명,2020_외국인수,2021_외국인수,2022_외국인수,2023_외국인수,2024_외국인수,20to21,21to22,22to23,23to24,2025_외국인수,24to25
0,강원도,0,자격없음,165.0,248.0,108.0,112.0,112.0,50.30,-56.45,3.70,0.00,224.0,100.00
1,강원도,A1,외교,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도,A2,공무,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도,A3,협정,9.0,10.0,11.0,10.0,12.0,11.11,10.00,-9.09,20.00,25.0,108.33
4,강원도,D1,문화예술,NaN,NaN,1.0,1.0,1.0,NaN,NaN,0.00,0.00,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,충청북도,F5,영주,2849.0,3177.0,3517.0,3951.0,4419.0,11.51,10.70,12.34,11.85,4480.0,1.38
516,충청북도,F6,결혼이민,4587.0,4648.0,4589.0,4811.0,5056.0,1.33,-1.27,4.84,5.09,5070.0,0.28
517,충청북도,G1,기타,1757.0,1684.0,1901.0,2518.0,3171.0,-4.15,12.89,32.46,25.93,3212.0,1.29
518,충청북도,H1,관광취업,4.0,1.0,8.0,19.0,14.0,-75.00,700.00,137.50,-26.32,14.0,0.00
519,충청북도,H2,방문취업,4125.0,3515.0,3111.0,2839.0,2524.0,-14.79,-11.49,-8.74,-11.10,2484.0,-1.58

In [27]:
merged_df['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [30]:
merged_df.to_csv("C:/HANSSAK/SecureGate/Download/final_20_24_250529_장기체류(등록+거소)외국인_데이터셋 (3).csv", index=False, encoding='cp949')

### 2025년 4월 5월 데이터 만들기
#### 세종특별자치시가 빠져있음

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_04 = pd.read_csv("C:/HANSSAK/SecureGate/Download/202504_장기체류외국인.csv", encoding='cp949')
df_05 = pd.read_csv("C:/HANSSAK/SecureGate/Download/202505_장기체류외국인.csv", encoding='cp949')

In [3]:
merged_df = df_04.merge(df_05[['시도명', '자격_대분류', '202505_외국인수']],
                           on=['시도명', '자격_대분류'],
                           how='left')
merged_df

         시도명 자격_대분류  202504_외국인수  202505_외국인수
0        강원도      0          117          119
1        강원도     A3           13           10
2        강원도    D10          339          331
3        강원도     D2         6046         6026
4        강원도     D3           22           22
..       ...    ...          ...          ...
493  세종특별자치시     F5          512          517
494  세종특별자치시     F6          765          767
495  세종특별자치시     G1          281          281
496  세종특별자치시     H1            5            5
497  세종특별자치시     H2          257          259

[498 rows x 4 columns]

In [4]:
merged_df['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도', '충청남도',
       '충청북도', '세종특별자치시'], dtype=object)

In [6]:
name = pd.read_excel("C:/HANSSAK/SecureGate/Download/250529_대분류자격코드명_메타/250529_대분류자격코드명_메타.xlsx")
name

   자격_대분류    LW_NM
0      00     자격없음
1      A1       외교
2      A2       공무
3      A3       협정
4      B1     사증면제
5      B2     관광통과
6      C1     일시취재
7      C2     단기상용
8      C3     단기방문
9      C4     단기취업
10     D1     문화예술
11    D10       구직
12     D2       유학
13     D3     기술연수
14     D4     일반연수
15     D5       취재
16     D6       종교
17     D7       주재
18     D8     기업투자
19     D9     무역경영
20     E1       교수
21    E10     선원취업
22     E2       회화
23     E3       연구
24     E4     기술지도
25     E5     전문직업
26     E6     예술흥행
27     E7     특정활동
28     E8     계절근로
29     E8     연수취업
30     E9    비전문취업
31     F1     방문동거
32     F2       거주
33     F3       동반
34     F4     재외동포
35     F5       영주
36     F6     결혼이민
37     G1       기타
38     H1     관광취업
39     H2     방문취업
40     T1     관광상륙
41     T2  조건부입국허가

In [7]:
name = dict(zip(name['자격_대분류'], name['LW_NM']))
name

{'00': '자격없음',
 'A1': '외교',
 'A2': '공무',
 'A3': '협정',
 'B1': '사증면제',
 'B2': '관광통과',
 'C1': '일시취재',
 'C2': '단기상용',
 'C3': '단기방문',
 'C4': '단기취업',
 'D1': '문화예술',
 'D10': '구직',
 'D2': '유학',
 'D3': '기술연수',
 'D4': '일반연수',
 'D5': '취재',
 'D6': '종교',
 'D7': '주재',
 'D8': '기업투자',
 'D9': '무역경영',
 'E1': '교수',
 'E10': '선원취업',
 'E2': '회화',
 'E3': '연구',
 'E4': '기술지도',
 'E5': '전문직업',
 'E6': '예술흥행',
 'E7': '특정활동',
 'E8': '연수취업',
 'E9': '비전문취업',
 'F1': '방문동거',
 'F2': '거주',
 'F3': '동반',
 'F4': '재외동포',
 'F5': '영주',
 'F6': '결혼이민',
 'G1': '기타',
 'H1': '관광취업',
 'H2': '방문취업',
 'T1': '관광상륙',
 'T2': '조건부입국허가'}

In [8]:
merged_df['자격_코드명'] = merged_df['자격_대분류'].map(name)
merged_df

         시도명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명
0        강원도      0          117          119    NaN
1        강원도     A3           13           10     협정
2        강원도    D10          339          331     구직
3        강원도     D2         6046         6026     유학
4        강원도     D3           22           22   기술연수
..       ...    ...          ...          ...    ...
493  세종특별자치시     F5          512          517     영주
494  세종특별자치시     F6          765          767   결혼이민
495  세종특별자치시     G1          281          281     기타
496  세종특별자치시     H1            5            5   관광취업
497  세종특별자치시     H2          257          259   방문취업

[498 rows x 5 columns]

In [9]:
merged_df.loc[merged_df['자격_대분류']=='0', '자격_코드명'] = "자격없음"
merged_df

         시도명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명
0        강원도      0          117          119   자격없음
1        강원도     A3           13           10     협정
2        강원도    D10          339          331     구직
3        강원도     D2         6046         6026     유학
4        강원도     D3           22           22   기술연수
..       ...    ...          ...          ...    ...
493  세종특별자치시     F5          512          517     영주
494  세종특별자치시     F6          765          767   결혼이민
495  세종특별자치시     G1          281          281     기타
496  세종특별자치시     H1            5            5   관광취업
497  세종특별자치시     H2          257          259   방문취업

[498 rows x 5 columns]

In [10]:
# 안전한 계산을 위해 0으로 나누는 경우 대비
def calc_rate_change(new, old):
    return (new - old) / old if old != 0 else None

# 증감률 계산
merged_df["2504to2505"] = (((merged_df["202505_외국인수"] - merged_df["202504_외국인수"]) / merged_df["202504_외국인수"]) * 100).round(1)

merged_df

         시도명 자격_대분류  202504_외국인수  202505_외국인수 자격_코드명  2504to2505
0        강원도      0          117          119   자격없음         1.7
1        강원도     A3           13           10     협정       -23.1
2        강원도    D10          339          331     구직        -2.4
3        강원도     D2         6046         6026     유학        -0.3
4        강원도     D3           22           22   기술연수         0.0
..       ...    ...          ...          ...    ...         ...
493  세종특별자치시     F5          512          517     영주         1.0
494  세종특별자치시     F6          765          767   결혼이민         0.3
495  세종특별자치시     G1          281          281     기타         0.0
496  세종특별자치시     H1            5            5   관광취업         0.0
497  세종특별자치시     H2          257          259   방문취업         0.8

[498 rows x 6 columns]

In [11]:
merged_df.to_csv("C:/HANSSAK/SecureGate/Download/202504_202505_장기체류외국인_데이터셋.csv", index=False, encoding='cp949')