### reemap 데이터셋에 자격명 추가

In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [3]:
df = pd.read_csv("C:/HANSSAK/SecureGate/download/250528_장기체류(등록+거소)외국인_데이터셋(2015_2024, 202501_04).csv", encoding='cp949')
df

           기준년월   시도명    시군구명 대분류자격 소분류자격      국적  외국인수
0        201512   강원도     강릉시   D10     1    자메이카     1
1        201512   강원도     강릉시   D10     1     잠비아     1
2        201512   강원도     강릉시   D10     1      중국    14
3        201512   강원도     강릉시    D2     1      몽골     1
4        201512   강원도     강릉시    D2     1      중국     8
...         ...   ...     ...   ...   ...     ...   ...
1048570  202502  경상북도  포항시 남구    F5     4  한국계중국인     2
1048571  202502  경상북도  포항시 남구    F5     6      미국     2
1048572  202502  경상북도  포항시 남구    F5     6     캐나다     3
1048573  202502  경상북도  포항시 남구    F5     6  한국계중국인    25
1048574  202502  경상북도  포항시 남구    F5     7      중국     7

[1048575 rows x 7 columns]

In [9]:
kor_title = pd.read_excel("C:\\HANSSAK\\SecureGate\\Download\\250529_대분류자격코드명_메타\\250529_대분류자격코드명_메타.xlsx")
kor_title

   자격_대분류    LW_NM
0      00     자격없음
1      A1       외교
2      A2       공무
3      A3       협정
4      B1     사증면제
5      B2     관광통과
6      C1     일시취재
7      C2     단기상용
8      C3     단기방문
9      C4     단기취업
10     D1     문화예술
11    D10       구직
12     D2       유학
13     D3     기술연수
14     D4     일반연수
15     D5       취재
16     D6       종교
17     D7       주재
18     D8     기업투자
19     D9     무역경영
20     E1       교수
21    E10     선원취업
22     E2       회화
23     E3       연구
24     E4     기술지도
25     E5     전문직업
26     E6     예술흥행
27     E7     특정활동
28     E8     계절근로
29     E8     연수취업
30     E9    비전문취업
31     F1     방문동거
32     F2       거주
33     F3       동반
34     F4     재외동포
35     F5       영주
36     F6     결혼이민
37     G1       기타
38     H1     관광취업
39     H2     방문취업
40     T1     관광상륙
41     T2  조건부입국허가

In [10]:
kor_dict = dict(zip(kor_title['자격_대분류'], kor_title['LW_NM']))
kor_dict

{'00': '자격없음',
 'A1': '외교',
 'A2': '공무',
 'A3': '협정',
 'B1': '사증면제',
 'B2': '관광통과',
 'C1': '일시취재',
 'C2': '단기상용',
 'C3': '단기방문',
 'C4': '단기취업',
 'D1': '문화예술',
 'D10': '구직',
 'D2': '유학',
 'D3': '기술연수',
 'D4': '일반연수',
 'D5': '취재',
 'D6': '종교',
 'D7': '주재',
 'D8': '기업투자',
 'D9': '무역경영',
 'E1': '교수',
 'E10': '선원취업',
 'E2': '회화',
 'E3': '연구',
 'E4': '기술지도',
 'E5': '전문직업',
 'E6': '예술흥행',
 'E7': '특정활동',
 'E8': '연수취업',
 'E9': '비전문취업',
 'F1': '방문동거',
 'F2': '거주',
 'F3': '동반',
 'F4': '재외동포',
 'F5': '영주',
 'F6': '결혼이민',
 'G1': '기타',
 'H1': '관광취업',
 'H2': '방문취업',
 'T1': '관광상륙',
 'T2': '조건부입국허가'}

In [17]:
# 기존 df에 자격_코드명 특성 추가 후 map으로 연결
df_2024['자격_코드명'] = df_2024['대분류자격'].map(kor_dict)
df_2024

          기준년월      시도명 시군구명 대분류자격 소분류자격       국적  외국인수 자격_코드명
0       202412  강원특별자치도  강릉시     0     0  러시아(연방)    11    NaN
1       202412  강원특별자치도  강릉시     0     0      모로코     1    NaN
2       202412  강원특별자치도  강릉시     0     0    방글라데시     1    NaN
3       202412  강원특별자치도  강릉시     0     0     스리랑카     1    NaN
4       202412  강원특별자치도  강릉시     0     0   우즈베키스탄     4    NaN
...        ...      ...  ...   ...   ...      ...   ...    ...
114045  202412     충청북도  충주시    H2    71    우크라이나     1   방문취업
114046  202412     충청북도  충주시    H2    71   한국계중국인     7   방문취업
114047  202412     충청북도  충주시    H2    72   한국계중국인    18   방문취업
114048  202412     충청북도  충주시    H2    91   한국계중국인     1   방문취업
114049  202412     충청북도  충주시    H2    99   한국계중국인     5   방문취업

[114050 rows x 8 columns]

In [ ]:
df_2022[df_2022['대분류자격']=="0"]

Empty DataFrame
Columns: [기준년월, 시도명, 시군구명, 대분류자격, 소분류자격, 국적, 외국인수, 자격_코드명]
Index: []

In [18]:
df_2024.loc[df_2024['대분류자격']=="0", '자격_코드명'] = "자격없음"
df_2024

          기준년월      시도명 시군구명 대분류자격 소분류자격       국적  외국인수 자격_코드명
0       202412  강원특별자치도  강릉시     0     0  러시아(연방)    11   자격없음
1       202412  강원특별자치도  강릉시     0     0      모로코     1   자격없음
2       202412  강원특별자치도  강릉시     0     0    방글라데시     1   자격없음
3       202412  강원특별자치도  강릉시     0     0     스리랑카     1   자격없음
4       202412  강원특별자치도  강릉시     0     0   우즈베키스탄     4   자격없음
...        ...      ...  ...   ...   ...      ...   ...    ...
114045  202412     충청북도  충주시    H2    71    우크라이나     1   방문취업
114046  202412     충청북도  충주시    H2    71   한국계중국인     7   방문취업
114047  202412     충청북도  충주시    H2    72   한국계중국인    18   방문취업
114048  202412     충청북도  충주시    H2    91   한국계중국인     1   방문취업
114049  202412     충청북도  충주시    H2    99   한국계중국인     5   방문취업

[114050 rows x 8 columns]

### 20년도 데이터 전처리 및 추출

In [18]:
df["기준년월"].dtype

dtype('int64')

In [ ]:
# 20_대분류
df_2020 = (
    df[df["기준년월"] == 202012]
    .groupby(["시도명", "대분류자격", "자격_코드명"], as_index=False)["외국인수"]
    .sum()
)
df_2020

      시도명 대분류자격 자격_코드명  외국인수
0     강원도     0   자격없음   165
1     강원도    A1     외교     1
2     강원도    A2     공무     1
3     강원도    A3     협정     9
4     강원도   D10     구직    89
..    ...   ...    ...   ...
482  충청북도    F5     영주  2849
483  충청북도    F6   결혼이민  4587
484  충청북도    G1     기타  1757
485  충청북도    H1   관광취업     4
486  충청북도    H2   방문취업  4125

[487 rows x 4 columns]

In [31]:
# 22_대분류
df_2021 = (
    df[df["기준년월"] == 202112]
    .groupby(["시도명", "대분류자격", "자격_코드명"], as_index=False)["외국인수"]
    .sum()
)
df_2021

      시도명 대분류자격 자격_코드명  외국인수
0     강원도     0   자격없음   248
1     강원도    A3     협정    10
2     강원도   D10     구직   176
3     강원도    D2     유학  2538
4     강원도    D3   기술연수    22
..    ...   ...    ...   ...
486  충청북도    F5     영주  3177
487  충청북도    F6   결혼이민  4648
488  충청북도    G1     기타  1684
489  충청북도    H1   관광취업     1
490  충청북도    H2   방문취업  3515

[491 rows x 4 columns]

In [ ]:
## 추후 국적별

new_df = (
    df[df["기준년월"] == 202012]
    .groupby(["시도명", "대분류자격", "자격_코드명", "국적"], as_index=False)["외국인수"]
    .sum()
    .sort_values("외국인수", ascending=False)
)
new_df

         시도명 대분류자격 자격_코드명      국적    외국인수
1693     경기도    F4   재외동포  한국계중국인  155362
8115   서울특별시    F4   재외동포  한국계중국인  110971
2021     경기도    H2   방문취업  한국계중국인   59369
8455   서울특별시    H2   방문취업  한국계중국인   44806
1778     경기도    F5     영주  한국계중국인   44121
...      ...   ...    ...     ...     ...
30       강원도   D10     구직    짐바브웨       1
28       강원도   D10     구직    자메이카       1
13255   충청북도    H1   관광취업     헝가리       1
13253   충청북도    H1   관광취업      일본       1
15       강원도    A2     공무      미국       1

[13264 rows x 5 columns]

### csv 변환

In [32]:
df_2020.to_csv("C:/HANSSAK/SecureGate/Download/2020_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)

In [33]:
df_2021.to_csv("C:/HANSSAK/SecureGate/Download/2021_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)

In [55]:
df_2022.to_csv("C:/HANSSAK/SecureGate/Download/2022_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)

In [56]:
df_2023.to_csv("C:/HANSSAK/SecureGate/Download/2023_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)

In [57]:
df_2024.to_csv("C:/HANSSAK/SecureGate/Download/2024_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)

In [ ]:
df.to_csv("C:/HANSSAK/SecureGate/Download/원본_250529_장기체류(등록+거소)외국인_데이터셋(2015_2024, 202501_04).csv", encoding='cp949', index=False)

### 데이터 불러와서 하나로 합치기

In [22]:
df_2020 = pd.read_csv("C:/HANSSAK/SecureGate/Download/2020_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949')
df_2021 = pd.read_csv("C:/HANSSAK/SecureGate/Download/2021_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949')
df_2022 = pd.read_csv("C:/HANSSAK/SecureGate/Download/2022_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949')
df_2023 = pd.read_csv("C:/HANSSAK/SecureGate/Download/2023_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949')
df_2024 = pd.read_csv("C:/HANSSAK/SecureGate/Download/2024_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949')

In [23]:
df_2021

      시도명 자격_대분류 자격_코드명  외국인수
0     강원도      0   자격없음   248
1     강원도     A3     협정    10
2     강원도    D10     구직   176
3     강원도     D2     유학  2538
4     강원도     D3   기술연수    22
..    ...    ...    ...   ...
486  충청북도     F5     영주  3177
487  충청북도     F6   결혼이민  4648
488  충청북도     G1     기타  1684
489  충청북도     H1   관광취업     1
490  충청북도     H2   방문취업  3515

[491 rows x 4 columns]

In [26]:
df_2022

         기준년월   시도명 시군구명 대분류자격 소분류자격       국적  외국인수 자격_코드명
0      202212   강원도  강릉시     0     0       네팔     2   자격없음
1      202212   강원도  강릉시     0     0  러시아(연방)     3   자격없음
2      202212   강원도  강릉시     0     0    방글라데시     1   자격없음
3      202212   강원도  강릉시     0     0      베트남     1   자격없음
4      202212   강원도  강릉시     0     0     스리랑카     1   자격없음
...       ...   ...  ...   ...   ...      ...   ...    ...
98282  202212  충청북도  충주시    H2    62   한국계중국인    10   방문취업
98283  202212  충청북도  충주시    H2    71   우즈베키스탄     1   방문취업
98284  202212  충청북도  충주시    H2    71   한국계중국인    21   방문취업
98285  202212  충청북도  충주시    H2    72   한국계중국인    48   방문취업
98286  202212  충청북도  충주시    H2    99   한국계중국인     1   방문취업

[98287 rows x 8 columns]

In [27]:
# 22_대분류
df_2022 = (
    df_2022[df_2022["기준년월"] == 202212]
    .groupby(["시도명", "대분류자격", "자격_코드명"], as_index=False)["외국인수"]
    .sum()
)
df_2022

      시도명 대분류자격 자격_코드명  외국인수
0     강원도     0   자격없음   108
1     강원도    A2     공무     1
2     강원도    A3     협정    11
3     강원도    D1   문화예술     1
4     강원도   D10     구직   186
..    ...   ...    ...   ...
492  충청북도    F5     영주  3517
493  충청북도    F6   결혼이민  4589
494  충청북도    G1     기타  1901
495  충청북도    H1   관광취업     8
496  충청북도    H2   방문취업  3111

[497 rows x 4 columns]

In [28]:
# 22_대분류
df_2023 = (
    df_2023[df_2023["기준년월"] == 202312]
    .groupby(["시도명", "대분류자격", "자격_코드명"], as_index=False)["외국인수"]
    .sum()
)
df_2023

         시도명 대분류자격 자격_코드명  외국인수
0    강원특별자치도     0   자격없음   112
1    강원특별자치도    A3     협정    10
2    강원특별자치도    D1   문화예술     1
3    강원특별자치도   D10     구직   290
4    강원특별자치도    D2     유학  4061
..       ...   ...    ...   ...
498     충청북도    F5     영주  3951
499     충청북도    F6   결혼이민  4811
500     충청북도    G1     기타  2518
501     충청북도    H1   관광취업    19
502     충청북도    H2   방문취업  2839

[503 rows x 4 columns]

In [29]:
# 22_대분류
df_2024 = (
    df_2024[df_2024["기준년월"] == 202412]
    .groupby(["시도명", "대분류자격", "자격_코드명"], as_index=False)["외국인수"]
    .sum()
)
df_2024

         시도명 대분류자격 자격_코드명  외국인수
0    강원특별자치도     0   자격없음   112
1    강원특별자치도    A3     협정    12
2    강원특별자치도    D1   문화예술     1
3    강원특별자치도   D10     구직   332
4    강원특별자치도    D2     유학  5178
..       ...   ...    ...   ...
501     충청북도    F5     영주  4419
502     충청북도    F6   결혼이민  5056
503     충청북도    G1     기타  3171
504     충청북도    H1   관광취업    14
505     충청북도    H2   방문취업  2524

[506 rows x 4 columns]

### 20-24 차트 합치기

In [30]:
df_2022.to_csv("C:/HANSSAK/SecureGate/Download/2022_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)
df_2023.to_csv("C:/HANSSAK/SecureGate/Download/2023_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)
df_2024.to_csv("C:/HANSSAK/SecureGate/Download/2024_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)

In [31]:
df_2020['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [32]:
df_2021['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [33]:
df_2022['시도명'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [34]:
df_2023['시도명'].unique()

array(['강원특별자치도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시',
       '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도',
       '제주특별자치도', '충청남도', '충청북도'], dtype=object)

In [35]:
df_2023["시도명"] = df_2023["시도명"].replace("강원특별자치도", "강원도")

In [36]:
df_2024['시도명'].unique()

array(['강원특별자치도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시',
       '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도',
       '전북특별자치도', '제주특별자치도', '충청남도', '충청북도'], dtype=object)

In [37]:
df_2024["시도명"] = df_2024["시도명"].replace("강원특별자치도", "강원도")
df_2024["시도명"] = df_2024["시도명"].replace("전북특별자치도", "전라북도")

In [38]:
df_2024[df_2024['시도명']=='전라북도']

      시도명 대분류자격 자격_코드명   외국인수
389  전라북도    A3     협정     75
390  전라북도    D4   일반연수      1
391  전라북도     0   자격없음    299
392  전라북도    A3     협정    174
393  전라북도   D10     구직    842
394  전라북도    D2     유학   6785
395  전라북도    D3   기술연수     48
396  전라북도    D4   일반연수   3887
397  전라북도    D6     종교     43
398  전라북도    D7     주재      2
399  전라북도    D8   기업투자    121
400  전라북도    D9   무역경영     56
401  전라북도    E1     교수     27
402  전라북도   E10   선원취업    409
403  전라북도    E2     회화    380
404  전라북도    E3     연구    158
405  전라북도    E6   예술흥행     24
406  전라북도    E7   특정활동   1444
407  전라북도    E8   연수취업   1626
408  전라북도    E9  비전문취업  12355
409  전라북도    F1   방문동거   2989
410  전라북도    F2     거주   1238
411  전라북도    F3     동반   1502
412  전라북도    F4   재외동포   4295
413  전라북도    F5     영주   2234
414  전라북도    F6   결혼이민   5065
415  전라북도    G1     기타   1411
416  전라북도    H1   관광취업     16
417  전라북도    H2   방문취업    584

In [39]:
df_2024[df_2024['시도명']=='전북특별자치도']

Empty DataFrame
Columns: [시도명, 대분류자격, 자격_코드명, 외국인수]
Index: []

In [46]:
df_2020.columns

Index(['시도명', '자격_대분류', '자격_코드명', '외국인수'], dtype='object')

In [54]:
df_2023.columns

Index(['시도명', '자격_대분류', '자격_코드명', '외국인수'], dtype='object')

In [48]:
df_2022.rename(columns={'대분류자격': '자격_대분류'}, inplace=True)
df_2023.rename(columns={'대분류자격': '자격_대분류'}, inplace=True)
df_2024.rename(columns={'대분류자격': '자격_대분류'}, inplace=True)

In [49]:
df_2021

      시도명 자격_대분류 자격_코드명  외국인수
0     강원도      0   자격없음   248
1     강원도     A3     협정    10
2     강원도    D10     구직   176
3     강원도     D2     유학  2538
4     강원도     D3   기술연수    22
..    ...    ...    ...   ...
486  충청북도     F5     영주  3177
487  충청북도     F6   결혼이민  4648
488  충청북도     G1     기타  1684
489  충청북도     H1   관광취업     1
490  충청북도     H2   방문취업  3515

[491 rows x 4 columns]

In [58]:
# 파일 목록과 연도 매핑
files = {
    "2020": "C:/HANSSAK/SecureGate/Download/2020_250529_장기체류(등록+거소)외국인_데이터셋.csv",
    "2021": "C:/HANSSAK/SecureGate/Download/2021_250529_장기체류(등록+거소)외국인_데이터셋.csv",
    "2022": "C:/HANSSAK/SecureGate/Download/2022_250529_장기체류(등록+거소)외국인_데이터셋.csv",
    "2023": "C:/HANSSAK/SecureGate/Download/2023_250529_장기체류(등록+거소)외국인_데이터셋.csv",
    "2024": "C:/HANSSAK/SecureGate/Download/2024_250529_장기체류(등록+거소)외국인_데이터셋.csv"
}

df_list = []

for year, file in files.items():
    df = pd.read_csv(file, encoding='cp949')

    # 필요한 컬럼만 가져오고, 컬럼 이름 변경
    df = df.groupby(["시도명", "자격_대분류", "자격_코드명"], as_index=False).sum()
    df.rename(columns={"외국인수": f"{year}_외국인수"}, inplace=True)

    df_list.append(df)

In [59]:
df_list

[      시도명 자격_대분류 자격_코드명  2020_외국인수
 0     강원도      0   자격없음        165
 1     강원도     A1     외교          1
 2     강원도     A2     공무          1
 3     강원도     A3     협정          9
 4     강원도    D10     구직         89
 ..    ...    ...    ...        ...
 482  충청북도     F5     영주       2849
 483  충청북도     F6   결혼이민       4587
 484  충청북도     G1     기타       1757
 485  충청북도     H1   관광취업          4
 486  충청북도     H2   방문취업       4125

 [487 rows x 4 columns],
       시도명 자격_대분류 자격_코드명  2021_외국인수
 0     강원도      0   자격없음        248
 1     강원도     A3     협정         10
 2     강원도    D10     구직        176
 3     강원도     D2     유학       2538
 4     강원도     D3   기술연수         22
 ..    ...    ...    ...        ...
 486  충청북도     F5     영주       3177
 487  충청북도     F6   결혼이민       4648
 488  충청북도     G1     기타       1684
 489  충청북도     H1   관광취업          1
 490  충청북도     H2   방문취업       3515

 [491 rows x 4 columns],
       시도명 자격_대분류 자격_코드명  2022_외국인수
 0     강원도      0   자격없음        108
 1     강원도     A2     공무          1
 2     강원도     A3     협정         11
 3     강원도     D1   문화예술          1
 4     강원도    D10     구직        186
 ..    ...    ...    ...        ...
 492  충청북도     F5     영주       3517
 493  충청북도     F6   결혼이민       4589
 494  충청북도     G1     기타       1901
 495  충청북도     H1   관광취업          8
 496  충청북도     H2   방문취업       3111

 [497 rows x 4 columns],
       시도명 자격_대분류 자격_코드명  2023_외국인수
 0     강원도      0   자격없음        112
 1     강원도     A3     협정         10
 2     강원도     D1   문화예술          1
 3     강원도    D10     구직        290
 4     강원도     D2     유학       4061
 ..    ...    ...    ...        ...
 498  충청북도     F5     영주       3951
 499  충청북도     F6   결혼이민       4811
 500  충청북도     G1     기타       2518
 501  충청북도     H1   관광취업         19
 502  충청북도     H2   방문취업       2839

 [503 rows x 4 columns],
       시도명 자격_대분류 자격_코드명  2024_외국인수
 0     강원도      0   자격없음        112
 1     강원도     A3     협정         12
 2     강원도     D1   문화예술          1
 3     강원도    D10     구직        332
 4     강원도     D2     유학       5178
 ..    ...    ...    ...        ...
 499  충청북도     F5     영주       4419
 500  충청북도     F6   결혼이민       5056
 501  충청북도     G1     기타       3171
 502  충청북도     H1   관광취업         14
 503  충청북도     H2   방문취업       2524

 [504 rows x 4 columns]]

In [60]:
merged_df = reduce(lambda left, right: pd.merge(left, right, on=["시도명", "자격_대분류", "자격_코드명"], how="outer"), df_list)
merged_df

      시도명 자격_대분류 자격_코드명  2020_외국인수  2021_외국인수  2022_외국인수  2023_외국인수  2024_외국인수
0     강원도      0   자격없음      165.0      248.0      108.0      112.0      112.0
1     강원도     A1     외교        1.0        NaN        NaN        NaN        NaN
2     강원도     A2     공무        1.0        NaN        1.0        NaN        NaN
3     강원도     A3     협정        9.0       10.0       11.0       10.0       12.0
4     강원도     D1   문화예술        NaN        NaN        1.0        1.0        1.0
..    ...    ...    ...        ...        ...        ...        ...        ...
515  충청북도     F5     영주     2849.0     3177.0     3517.0     3951.0     4419.0
516  충청북도     F6   결혼이민     4587.0     4648.0     4589.0     4811.0     5056.0
517  충청북도     G1     기타     1757.0     1684.0     1901.0     2518.0     3171.0
518  충청북도     H1   관광취업        4.0        1.0        8.0       19.0       14.0
519  충청북도     H2   방문취업     4125.0     3515.0     3111.0     2839.0     2524.0

[520 rows x 8 columns]

In [61]:
merged_df.to_csv("C:/HANSSAK/SecureGate/Download/merged_df_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)

In [62]:
# 안전한 계산을 위해 0으로 나누는 경우 대비
def calc_rate_change(new, old):
    return (new - old) / old if old != 0 else None

# 증감률 계산
merged_df["20to21"] = (((merged_df["2021_외국인수"] - merged_df["2020_외국인수"]) / merged_df["2020_외국인수"]) * 100).round(2)
merged_df["21to22"] = (((merged_df["2022_외국인수"] - merged_df["2021_외국인수"]) / merged_df["2021_외국인수"]) * 100).round(2)
merged_df["22to23"] = (((merged_df["2023_외국인수"] - merged_df["2022_외국인수"]) / merged_df["2022_외국인수"]) * 100).round(2)
merged_df["23to24"] = (((merged_df["2024_외국인수"] - merged_df["2023_외국인수"]) / merged_df["2023_외국인수"]) * 100).round(2)

merged_df

,시도명,자격_대분류,자격_코드명,2020_외국인수,2021_외국인수,2022_외국인수,2023_외국인수,2024_외국인수,20to21,21to22,22to23,23to24
0,강원도,0,자격없음,165.0,248.0,108.0,112.0,112.0,50.30,-56.45,3.70,0.00
1,강원도,A1,외교,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도,A2,공무,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도,A3,협정,9.0,10.0,11.0,10.0,12.0,11.11,10.00,-9.09,20.00
4,강원도,D1,문화예술,NaN,NaN,1.0,1.0,1.0,NaN,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
515,충청북도,F5,영주,2849.0,3177.0,3517.0,3951.0,4419.0,11.51,10.70,12.34,11.85
516,충청북도,F6,결혼이민,4587.0,4648.0,4589.0,4811.0,5056.0,1.33,-1.27,4.84,5.09
517,충청북도,G1,기타,1757.0,1684.0,1901.0,2518.0,3171.0,-4.15,12.89,32.46,25.93
518,충청북도,H1,관광취업,4.0,1.0,8.0,19.0,14.0,-75.00,700.00,137.50,-26.32
519,충청북도,H2,방문취업,4125.0,3515.0,3111.0,2839.0,2524.0,-14.79,-11.49,-8.74,-11.10

In [64]:
merged_df

,시도명,자격_대분류,자격_코드명,2020_외국인수,2021_외국인수,2022_외국인수,2023_외국인수,2024_외국인수,20to21,21to22,22to23,23to24
0,강원도,0,자격없음,165.0,248.0,108.0,112.0,112.0,50.30,-56.45,3.70,0.00
1,강원도,A1,외교,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강원도,A2,공무,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,강원도,A3,협정,9.0,10.0,11.0,10.0,12.0,11.11,10.00,-9.09,20.00
4,강원도,D1,문화예술,NaN,NaN,1.0,1.0,1.0,NaN,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
515,충청북도,F5,영주,2849.0,3177.0,3517.0,3951.0,4419.0,11.51,10.70,12.34,11.85
516,충청북도,F6,결혼이민,4587.0,4648.0,4589.0,4811.0,5056.0,1.33,-1.27,4.84,5.09
517,충청북도,G1,기타,1757.0,1684.0,1901.0,2518.0,3171.0,-4.15,12.89,32.46,25.93
518,충청북도,H1,관광취업,4.0,1.0,8.0,19.0,14.0,-75.00,700.00,137.50,-26.32
519,충청북도,H2,방문취업,4125.0,3515.0,3111.0,2839.0,2524.0,-14.79,-11.49,-8.74,-11.10

In [63]:
merged_df.to_csv("C:/HANSSAK/SecureGate/Download/final_20_24_250529_장기체류(등록+거소)외국인_데이터셋.csv", encoding='cp949', index=False)