### CSV 전처리 다시 하기
1) code 바꾸기
- 이름 바꾸기
2) 최신 데이터로 인구, 이민자 수 바꾸기

In [2]:
## import
import pandas as pd
import numpy as np

In [7]:
# 원 데이터 불러와서 code, label dict 만들기
code_df = pd.read_csv("C:/Users/admin/workspace/WorldCountry.csv")
code_df

     @code  @label         @symbol  @horizontalCenterGap  @verticalCenterGap
0      101      미국    Unitedstates                  28.0                23.0
1      102     캐나다          Canada                 -25.0                16.0
2      201     브라질          Brazil                   8.0                -4.0
3      202   아르헨티나       Argentina                  -2.0               -10.0
4      203    콜롬비아        Colombia                   NaN                 NaN
..     ...     ...             ...                   ...                 ...
164    702    뉴질랜드      Newzealand                   NaN                 NaN
165    703  파푸아뉴기니  Papuanewguinea                   NaN                 NaN
166    704      피지            Fiji                   NaN                 NaN
167    705  뉴칼레도니아    Newcaledonia                   NaN                 NaN
168    706    바누아투         Vanuatu                   NaN                 NaN

[169 rows x 5 columns]

In [11]:
code_dict = code_df.set_index('@label')['@code'].to_dict()
code_dict

{'미국': 101,
 '캐나다': 102,
 '브라질': 201,
 '아르헨티나': 202,
 '콜롬비아': 203,
 '베네수엘라': 204,
 '가이아나': 205,
 '수리남': 206,
 '기아나': 207,
 '에콰도르': 208,
 '페루': 209,
 '칠레': 210,
 '우루과이': 211,
 '파라과이': 212,
 '볼리비아': 213,
 '멕시코': 301,
 '과테말라': 302,
 '엘살바도르': 303,
 '벨리즈': 304,
 '온두라스': 305,
 '니카라과': 306,
 '코스타리카': 307,
 '파나마': 308,
 '쿠바': 309,
 '자메이카': 310,
 '아이티': 311,
 '도미니카공화국': 312,
 '푸에르토리코': 313,
 '영국': 401,
 '아일랜드': 402,
 '프랑스': 403,
 '독일': 404,
 '이탈리아': 405,
 '스페인': 406,
 '포르투갈': 407,
 '스위스': 408,
 '오스트리아': 409,
 '체코': 410,
 '슬로바키아': 411,
 '헝가리': 412,
 '크로아티아': 413,
 '슬로베니아': 414,
 '보스니아헤르체고비나': 415,
 '그리스': 416,
 '알바니아': 417,
 '불가리아': 418,
 '루마니아': 419,
 '몰도바': 420,
 '세르비아': 421,
 '우크라이나': 422,
 '폴란드': 423,
 '벨라루스': 424,
 '리투아니아': 425,
 '라트비아': 426,
 '에스토니아': 427,
 '네덜란드': 428,
 '벨기에': 429,
 '핀란드': 430,
 '스웨덴': 431,
 '노르웨이': 432,
 '아이슬란드': 433,
 '덴마크': 434,
 '안도라': 435,
 '룩셈부르크': 436,
 '마케도니아': 437,
 '몬테네그로': 438,
 '이집트': 501,
 '리비아': 502,
 '수단': 503,
 '알제리': 504,
 '튀니지': 505,
 '모로코': 506,
 '서사하라': 507,
 '모리타니': 508,
 '말리': 509,
 '세네갈': 510,
 '니제르': 511,
 '차드': 512,
 '에티오피아': 513,
 '소말리아': 514,
 '에리트레아': 515,
 '지부티': 516,
 '케냐': 517,
 '탄자니아': 518,
 '부룬디': 519,
 '르완다': 520,
 '중앙아프리카공화국': 521,
 '카메룬': 522,
 '나이지리아': 523,
 '코트디부아르': 524,
 '가나': 525,
 '마다가스카르': 526,
 '모잠비크': 527,
 '스와질란드': 528,
 '남아프리카공화국': 529,
 '레소토': 530,
 '나미비아': 531,
 '보츠와나': 532,
 '짐바브웨': 533,
 '잠비아': 534,
 '앙골라': 535,
 '콩고': 536,
 '가봉': 537,
 '적도기니': 538,
 '베냉': 539,
 '토고': 540,
 '부루키나파소': 541,
 '라이베리아': 542,
 '시에라리온': 543,
 '기니': 544,
 '기니비사우': 545,
 '감비아': 546,
 '말라위': 547,
 '콩고민주공화국': 548,
 '이스라엘': 549,
 '우간다': 550,
 '남수단': 551,
 '중국': 601,
 '일본': 602,
 '대한민국': 603,
 '인도': 604,
 '타이': 605,
 '베트남': 606,
 '라오스': 607,
 '캄보디아': 608,
 '미얀마': 609,
 '말레이시아': 610,
 '필리핀': 611,
 '인도네시아': 612,
 '브루나이': 613,
 '타이완': 614,
 '방글라데시': 615,
 '스리랑카': 616,
 '부탄': 617,
 '네팔': 618,
 '파키스탄': 619,
 '아프가니스탄': 620,
 '이란': 621,
 '이라크': 622,
 '시리아': 623,
 '사우디아라비아': 624,
 '쿠웨이트': 625,
 '오만': 626,
 '예멘': 627,
 '아랍에미리트': 628,
 '카타르': 629,
 '요르단': 630,
 '레바논': 631,
 '튀르키예': 632,
 '조지아': 633,
 '아르메니아': 634,
 '아제르바이잔': 635,
 '투르크메니스탄': 636,
 '우즈베키스탄': 637,
 '타지키스탄': 638,
 '키르기스스탄': 639,
 '카자흐스탄': 640,
 '몽골': 641,
 '키프로스': 642,
 '러시아': 643,
 '북한': 644,
 '싱가포르': 645,
 '홍콩': 646,
 '오스트레일리아': 701,
 '뉴질랜드': 702,
 '파푸아뉴기니': 703,
 '피지': 704,
 '뉴칼레도니아': 705,
 '바누아투': 706}

In [5]:
## code 바꾸기
final_df = pd.read_csv("C:/Users/admin/workspace/출입국자_지도_국가코드_6대륙_final.csv")
final_df

     country_code NAT_HAN_NM       lng      lat    CNT     대륙 CONTINENT  code
0             646         홍콩  114.0599  22.4114    996    아시아      ASIA   600
1             412        헝가리   19.6180  47.1740  49946     유럽    EUROPE   400
2               0         한국  128.1600  36.3380   2190    아시아      ASIA   600
3             611        필리핀  121.2560  17.1810      0    아시아      ASIA   600
4             430        핀란드   26.1920  62.7160   2270     유럽    EUROPE   400
..            ...        ...       ...      ...    ...    ...       ...   ...
216             0       과들루프  -61.5527  16.2495      0  북아메리카       NaN   100
217           546        감비아  -14.6410  13.4990      0   아프리카    AFRICA   500
218           205       가이아나  -58.9390   5.1700      0  남아메리카        SA   200
219           537         가봉   11.9140  -0.4060      0   아프리카    AFRICA   500
220           525         가나   -1.0620   7.2580      0   아프리카    AFRICA   500

[221 rows x 8 columns]

In [20]:
final_df['NAT_HAN_NM'].to_list()

['홍콩',
 '헝가리',
 '한국',
 '필리핀',
 '핀란드',
 '피지',
 '프랑스',
 '푸에르토리코',
 '폴란드',
 '포르투갈',
 '페루',
 '팔레스타인',
 '팔라우',
 '파푸아뉴기니',
 '파키스탄',
 '파라과이',
 '파나마',
 '티모르민주공화국',
 '트리니다드토바고',
 '튀르키예',
 '튀니지',
 '투발루',
 '투르크메니스탄',
 '통가',
 '토고',
 '터크스케이커스',
 '탄자니아',
 '타지키스탄',
 '타이완',
 '타이',
 '키프로스',
 '키리바시',
 '키르기즈',
 '크로아티아',
 '퀴라소',
 '쿡아일랜드',
 '쿠웨이트',
 '쿠바',
 '콩고민주공화국',
 '콩고',
 '콜롬비아',
 '코트디부아르',
 '코스타리카',
 '코모로',
 '케이맨제도',
 '케냐',
 '캐나다',
 '캄보디아',
 '카타르',
 '카자흐스탄',
 '카보베르데',
 '카메룬',
 '칠레',
 '체코',
 '차트',
 '짐바브웨',
 '지부티',
 '중앙아프리카공화국',
 '중국',
 '조지아',
 '적도기니',
 '잠비아',
 '자메이카',
 '일본',
 '인도네시아',
 '인도',
 '이탈리아',
 '이집트',
 '이스라엘',
 '이란',
 '이라크',
 '우크라이나',
 '우즈베키스탄',
 '우루과이',
 '우간다',
 '요르단',
 '온두라스',
 '오스트리아',
 '오스트레일리아',
 '오만',
 '예멘공화국',
 '영령버진아일랜드',
 '영국',
 '엘살바도르',
 '에티오피아',
 '에콰도르',
 '에스토니아',
 '에스와티니',
 '에리트레아',
 '앵귈라',
 '앤티카바부다',
 '앙골라',
 '알제리',
 '알바니아',
 '안도라',
 '아프가니스탄',
 '아제르바이잔',
 '아일랜드',
 '아이티',
 '아이슬란드',
 '아르헨티나',
 '아르메니아',
 '아루바',
 '아랍에미리트연합',
 '싱가포르',
 '신트마르턴',
 '시에라리온',
 '시리아',
 '슬로베니아',
 '슬로바크',
 '스페인',
 '스위스',
 '스웨덴',
 '스리랑카',
 '수리남',
 '수단',
 '솔로몬군도',
 '소말리아',
 '세인트크리스토퍼네비스',
 '세인트빈센트그레나딘',
 '세인트루시아',
 '세이셸',
 '세르비아',
 '세네갈',
 '상투메프린시페',
 '산마리노',
 '사우디아라비아',
 '사바섬',
 '사모아',
 '브루나이',
 '브라질',
 '불령폴리네시아',
 '불령가이아나',
 '불가리아',
 '북한',
 '북마케도니아',
 '북마리아나군도',
 '부탄',
 '부르키나파소',
 '부룬디',
 '볼리비아',
 '보츠와나',
 '보스니아-헤르체고비나',
 '보네르섬',
 '벨리즈',
 '벨라루스',
 '벨기에',
 '베트남',
 '베네수엘라',
 '베냉',
 '버뮤다',
 '방글라데시',
 '바하마',
 '바베이도스',
 '바레인',
 '바누아투',
 '미이크로네시아',
 '미얀마',
 '미령사모아',
 '미령버진아일랜드',
 '미국',
 '몽골',
 '몰타',
 '몰디브',
 '몰도바',
 '몬테네그로',
 '몬서래트',
 '모잠비크',
 '모리타니',
 '모리셔스',
 '모로코',
 '모나코',
 '멕시코',
 '말리',
 '말레이시아',
 '말라위',
 '마카오',
 '마샬군도',
 '마르티니크',
 '마다가스카르',
 '리히텐슈타인',
 '리투아니아',
 '리비아',
 '르완다',
 '룩셈부르크',
 '루마니아',
 '레위니옹',
 '레소토',
 '레바논',
 '러시아(연방)',
 '라트비아',
 '라이베리아',
 '라오스',
 '독일',
 '도미니카연방',
 '도미니카공화국',
 '덴마크',
 '니카라과',
 '니제르',
 '니우에',
 '뉴칼레도니아',
 '뉴질랜드',
 '노르웨이',
 '네팔',
 '네덜란드',
 '남아프리카공화국',
 '남수단공화국',
 '나이지리아',
 '나우루',
 '나미비아',
 '기니비사우',
 '기니',
 '그리스',
 '그레나다',
 '괌',
 '과테말라',
 '과들루프',
 '감비아',
 '가이아나',
 '가봉',
 '가나']

In [21]:
for k, v in code_dict.items():
    if k not in final_df['NAT_HAN_NM'].values:
        print(f"{k} is not in final_df")

기아나 is not in final_df
슬로바키아 is not in final_df
보스니아헤르체고비나 is not in final_df
마케도니아 is not in final_df
서사하라 is not in final_df
차드 is not in final_df
스와질란드 is not in final_df
부루키나파소 is not in final_df
남수단 is not in final_df
대한민국 is not in final_df
예멘 is not in final_df
아랍에미리트 is not in final_df
키르기스스탄 is not in final_df
러시아 is not in final_df

In [23]:
noname_dict = {
    '기아나': '가이아나',                 # 유사
    '슬로바키아': '슬로바크',            # 음역 차이
    '보스니아헤르체고비나': '보스니아-헤르체고비나',  # 하이픈 차이
    '마케도니아': '북마케도니아',         # 정식 명칭 반영
    '서사하라': None,                    # 리스트에 없음
    '차드': '차트',                      # 표기 차이 (Chad)
    '스와질란드': '에스와티니',           # 국가명 변경됨
    '부루키나파소': '부르키나파소',       # 철자 오류 수정
    '남수단': '남수단공화국',             # 전체 이름 사용
    '대한민국': '한국',                   # 일상명칭과 공식명칭
    '예멘': '예멘공화국',                 # 전체 이름 사용
    '아랍에미리트': '아랍에미리트연합',     # 전체 이름 사용
    '키르기스스탄': '키르기즈',           # 줄여 쓴 이름
    '러시아': '러시아(연방)'              # 전체 이름 사용
}

noname_dict

{'기아나': '가이아나',
 '슬로바키아': '슬로바크',
 '보스니아헤르체고비나': '보스니아-헤르체고비나',
 '마케도니아': '북마케도니아',
 '서사하라': None,
 '차드': '차트',
 '스와질란드': '에스와티니',
 '부루키나파소': '부르키나파소',
 '남수단': '남수단공화국',
 '대한민국': '한국',
 '예멘': '예멘공화국',
 '아랍에미리트': '아랍에미리트연합',
 '키르기스스탄': '키르기즈',
 '러시아': '러시아(연방)'}

In [26]:
reverse_dict = {v: k for k, v in noname_dict.items() if v is not None}

In [27]:
# final_df의 이름 바꾸기

final_df['NAT_HAN_NM'] = final_df['NAT_HAN_NM'].map(lambda x: reverse_dict.get(x, x))
final_df

     country_code NAT_HAN_NM       lng      lat    CNT     대륙 CONTINENT  code
0             646         홍콩  114.0599  22.4114    996    아시아      ASIA   600
1             412        헝가리   19.6180  47.1740  49946     유럽    EUROPE   400
2               0       대한민국  128.1600  36.3380   2190    아시아      ASIA   600
3             611        필리핀  121.2560  17.1810      0    아시아      ASIA   600
4             430        핀란드   26.1920  62.7160   2270     유럽    EUROPE   400
..            ...        ...       ...      ...    ...    ...       ...   ...
216             0       과들루프  -61.5527  16.2495      0  북아메리카       NaN   100
217           546        감비아  -14.6410  13.4990      0   아프리카    AFRICA   500
218           205        기아나  -58.9390   5.1700      0  남아메리카        SA   200
219           537         가봉   11.9140  -0.4060      0   아프리카    AFRICA   500
220           525         가나   -1.0620   7.2580      0   아프리카    AFRICA   500

[221 rows x 8 columns]

In [28]:
for k, v in code_dict.items():
    if k in final_df['NAT_HAN_NM'].values:
        final_df.loc[final_df['NAT_HAN_NM'] == k, 'country_code'] = v
        print(f"{k} is in final_df and replaced with {v}")

미국 is in final_df and replaced with 101
캐나다 is in final_df and replaced with 102
브라질 is in final_df and replaced with 201
아르헨티나 is in final_df and replaced with 202
콜롬비아 is in final_df and replaced with 203
베네수엘라 is in final_df and replaced with 204
수리남 is in final_df and replaced with 206
기아나 is in final_df and replaced with 207
에콰도르 is in final_df and replaced with 208
페루 is in final_df and replaced with 209
칠레 is in final_df and replaced with 210
우루과이 is in final_df and replaced with 211
파라과이 is in final_df and replaced with 212
볼리비아 is in final_df and replaced with 213
멕시코 is in final_df and replaced with 301
과테말라 is in final_df and replaced with 302
엘살바도르 is in final_df and replaced with 303
벨리즈 is in final_df and replaced with 304
온두라스 is in final_df and replaced with 305
니카라과 is in final_df and replaced with 306
코스타리카 is in final_df and replaced with 307
파나마 is in final_df and replaced with 308
쿠바 is in final_df and replaced with 309
자메이카 is in final_df and replaced with 310
아이티 is in final_df and replaced with 311
도미니카공화국 is in final_df and replaced with 312
푸에르토리코 is in final_df and replaced with 313
영국 is in final_df and replaced with 401
아일랜드 is in final_df and replaced with 402
프랑스 is in final_df and replaced with 403
독일 is in final_df and replaced with 404
이탈리아 is in final_df and replaced with 405
스페인 is in final_df and replaced with 406
포르투갈 is in final_df and replaced with 407
스위스 is in final_df and replaced with 408
오스트리아 is in final_df and replaced with 409
체코 is in final_df and replaced with 410
슬로바키아 is in final_df and replaced with 411
헝가리 is in final_df and replaced with 412
크로아티아 is in final_df and replaced with 413
슬로베니아 is in final_df and replaced with 414
보스니아헤르체고비나 is in final_df and replaced with 415
그리스 is in final_df and replaced with 416
알바니아 is in final_df and replaced with 417
불가리아 is in final_df and replaced with 418
루마니아 is in final_df and replaced with 419
몰도바 is in final_df and replaced with 420
세르비아 is in final_df and replaced with 421
우크라이나 is in final_df and replaced with 422
폴란드 is in final_df and replaced with 423
벨라루스 is in final_df and replaced with 424
리투아니아 is in final_df and replaced with 425
라트비아 is in final_df and replaced with 426
에스토니아 is in final_df and replaced with 427
네덜란드 is in final_df and replaced with 428
벨기에 is in final_df and replaced with 429
핀란드 is in final_df and replaced with 430
스웨덴 is in final_df and replaced with 431
노르웨이 is in final_df and replaced with 432
아이슬란드 is in final_df and replaced with 433
덴마크 is in final_df and replaced with 434
안도라 is in final_df and replaced with 435
룩셈부르크 is in final_df and replaced with 436
마케도니아 is in final_df and replaced with 437
몬테네그로 is in final_df and replaced with 438
이집트 is in final_df and replaced with 501
리비아 is in final_df and replaced with 502
수단 is in final_df and replaced with 503
알제리 is in final_df and replaced with 504
튀니지 is in final_df and replaced with 505
모로코 is in final_df and replaced with 506
모리타니 is in final_df and replaced with 508
말리 is in final_df and replaced with 509
세네갈 is in final_df and replaced with 510
니제르 is in final_df and replaced with 511
차드 is in final_df and replaced with 512
에티오피아 is in final_df and replaced with 513
소말리아 is in final_df and replaced with 514
에리트레아 is in final_df and replaced with 515
지부티 is in final_df and replaced with 516
케냐 is in final_df and replaced with 517
탄자니아 is in final_df and replaced with 518
부룬디 is in final_df and replaced with 519
르완다 is in final_df and replaced with 520
중앙아프리카공화국 is in final_df and replaced with 521
카메룬 is in final_df and replaced with 522
나이지리아 is in final_df and replaced with 523
코트디부아르 is in final_df and replaced with 524
가나 is in final_df and replaced with 525
마다가스카르 is in final_df and replaced with 526
모잠비크 is in final_df and replaced with 527
스와질란드 is in final_df and replaced with 528
남아프리카공화국 is in final_df and replaced with 529
레소토 is in final_df and replaced with 530
나미비아 is in final_df and replaced with 531
보츠와나 is in final_df and replaced with 532
짐바브웨 is in final_df and replaced with 533
잠비아 is in final_df and replaced with 534
앙골라 is in final_df and replaced with 535
콩고 is in final_df and replaced with 536
가봉 is in final_df and replaced with 537
적도기니 is in final_df and replaced with 538
베냉 is in final_df and replaced with 539
토고 is in final_df and replaced with 540
부루키나파소 is in final_df and replaced with 541
라이베리아 is in final_df and replaced with 542
시에라리온 is in final_df and replaced with 543
기니 is in final_df and replaced with 544
기니비사우 is in final_df and replaced with 545
감비아 is in final_df and replaced with 546
말라위 is in final_df and replaced with 547
콩고민주공화국 is in final_df and replaced with 548
이스라엘 is in final_df and replaced with 549
우간다 is in final_df and replaced with 550
남수단 is in final_df and replaced with 551
중국 is in final_df and replaced with 601
일본 is in final_df and replaced with 602
대한민국 is in final_df and replaced with 603
인도 is in final_df and replaced with 604
타이 is in final_df and replaced with 605
베트남 is in final_df and replaced with 606
라오스 is in final_df and replaced with 607
캄보디아 is in final_df and replaced with 608
미얀마 is in final_df and replaced with 609
말레이시아 is in final_df and replaced with 610
필리핀 is in final_df and replaced with 611
인도네시아 is in final_df and replaced with 612
브루나이 is in final_df and replaced with 613
타이완 is in final_df and replaced with 614
방글라데시 is in final_df and replaced with 615
스리랑카 is in final_df and replaced with 616
부탄 is in final_df and replaced with 617
네팔 is in final_df and replaced with 618
파키스탄 is in final_df and replaced with 619
아프가니스탄 is in final_df and replaced with 620
이란 is in final_df and replaced with 621
이라크 is in final_df and replaced with 622
시리아 is in final_df and replaced with 623
사우디아라비아 is in final_df and replaced with 624
쿠웨이트 is in final_df and replaced with 625
오만 is in final_df and replaced with 626
예멘 is in final_df and replaced with 627
아랍에미리트 is in final_df and replaced with 628
카타르 is in final_df and replaced with 629
요르단 is in final_df and replaced with 630
레바논 is in final_df and replaced with 631
튀르키예 is in final_df and replaced with 632
조지아 is in final_df and replaced with 633
아르메니아 is in final_df and replaced with 634
아제르바이잔 is in final_df and replaced with 635
투르크메니스탄 is in final_df and replaced with 636
우즈베키스탄 is in final_df and replaced with 637
타지키스탄 is in final_df and replaced with 638
키르기스스탄 is in final_df and replaced with 639
카자흐스탄 is in final_df and replaced with 640
몽골 is in final_df and replaced with 641
키프로스 is in final_df and replaced with 642
러시아 is in final_df and replaced with 643
북한 is in final_df and replaced with 644
싱가포르 is in final_df and replaced with 645
홍콩 is in final_df and replaced with 646
오스트레일리아 is in final_df and replaced with 701
뉴질랜드 is in final_df and replaced with 702
파푸아뉴기니 is in final_df and replaced with 703
피지 is in final_df and replaced with 704
뉴칼레도니아 is in final_df and replaced with 705
바누아투 is in final_df and replaced with 706

### code랑 name 변경 완료

In [29]:
# final_df 이름을 code_df 국가 이름으로 변경
final_df

     country_code NAT_HAN_NM       lng      lat    CNT     대륙 CONTINENT  code
0             646         홍콩  114.0599  22.4114    996    아시아      ASIA   600
1             412        헝가리   19.6180  47.1740  49946     유럽    EUROPE   400
2             603       대한민국  128.1600  36.3380   2190    아시아      ASIA   600
3             611        필리핀  121.2560  17.1810      0    아시아      ASIA   600
4             430        핀란드   26.1920  62.7160   2270     유럽    EUROPE   400
..            ...        ...       ...      ...    ...    ...       ...   ...
216             0       과들루프  -61.5527  16.2495      0  북아메리카       NaN   100
217           546        감비아  -14.6410  13.4990      0   아프리카    AFRICA   500
218           207        기아나  -58.9390   5.1700      0  남아메리카        SA   200
219           537         가봉   11.9140  -0.4060      0   아프리카    AFRICA   500
220           525         가나   -1.0620   7.2580      0   아프리카    AFRICA   500

[221 rows x 8 columns]

### drilldown map의 code와 국가명 변경

In [33]:
small_df = pd.read_csv("C:/Users/admin/workspace/출입국자_지도_국가코드_6대륙_250613.csv", encoding='cp949')
small_df

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK
0,646,홍콩,114.0599,22.4114,2962,아시아,ASIA,7497,105,21
1,412,헝가리,19.6180,47.1740,585,유럽,EUROPE,9660,95,71
2,0,한국,128.1600,36.3380,1728,아시아,ASIA,51269,28,38
3,611,필리핀,121.2560,17.1810,226,아시아,ASIA,109581,13,107
4,430,핀란드,26.1920,62.7160,386,유럽,EUROPE,5541,117,89
...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,90,북아메리카,NORTH,400,176,135
217,546,감비아,-14.6410,13.4990,216,아프리카,AFRICA,2417,145,108
218,205,가이아나,-58.9390,5.1700,31,남아메리카,SA,787,164,171
219,537,가봉,11.9140,-0.4060,417,아프리카,AFRICA,2226,147,83
220,525,가나,-1.0620,7.2580,476,아프리카,AFRICA,31073,48,81

In [34]:
# final_df의 이름 바꾸기

small_df['NAT_HAN_NM'] = small_df['NAT_HAN_NM'].map(lambda x: reverse_dict.get(x, x))
small_df

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK
0,646,홍콩,114.0599,22.4114,2962,아시아,ASIA,7497,105,21
1,412,헝가리,19.6180,47.1740,585,유럽,EUROPE,9660,95,71
2,0,대한민국,128.1600,36.3380,1728,아시아,ASIA,51269,28,38
3,611,필리핀,121.2560,17.1810,226,아시아,ASIA,109581,13,107
4,430,핀란드,26.1920,62.7160,386,유럽,EUROPE,5541,117,89
...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,90,북아메리카,NORTH,400,176,135
217,546,감비아,-14.6410,13.4990,216,아프리카,AFRICA,2417,145,108
218,205,기아나,-58.9390,5.1700,31,남아메리카,SA,787,164,171
219,537,가봉,11.9140,-0.4060,417,아프리카,AFRICA,2226,147,83
220,525,가나,-1.0620,7.2580,476,아프리카,AFRICA,31073,48,81

In [37]:
for k, v in code_dict.items():
    if k in small_df['NAT_HAN_NM'].values:
        small_df.loc[small_df['NAT_HAN_NM'] == k, 'code'] = v
        print(f"{k} is in small_df and replaced with {v}")

미국 is in small_df and replaced with 101
캐나다 is in small_df and replaced with 102
브라질 is in small_df and replaced with 201
아르헨티나 is in small_df and replaced with 202
콜롬비아 is in small_df and replaced with 203
베네수엘라 is in small_df and replaced with 204
수리남 is in small_df and replaced with 206
기아나 is in small_df and replaced with 207
에콰도르 is in small_df and replaced with 208
페루 is in small_df and replaced with 209
칠레 is in small_df and replaced with 210
우루과이 is in small_df and replaced with 211
파라과이 is in small_df and replaced with 212
볼리비아 is in small_df and replaced with 213
멕시코 is in small_df and replaced with 301
과테말라 is in small_df and replaced with 302
엘살바도르 is in small_df and replaced with 303
벨리즈 is in small_df and replaced with 304
온두라스 is in small_df and replaced with 305
니카라과 is in small_df and replaced with 306
코스타리카 is in small_df and replaced with 307
파나마 is in small_df and replaced with 308
쿠바 is in small_df and replaced with 309
자메이카 is in small_df and replaced with 310
아이티 is in small_df and replaced with 311
도미니카공화국 is in small_df and replaced with 312
푸에르토리코 is in small_df and replaced with 313
영국 is in small_df and replaced with 401
아일랜드 is in small_df and replaced with 402
프랑스 is in small_df and replaced with 403
독일 is in small_df and replaced with 404
이탈리아 is in small_df and replaced with 405
스페인 is in small_df and replaced with 406
포르투갈 is in small_df and replaced with 407
스위스 is in small_df and replaced with 408
오스트리아 is in small_df and replaced with 409
체코 is in small_df and replaced with 410
슬로바키아 is in small_df and replaced with 411
헝가리 is in small_df and replaced with 412
크로아티아 is in small_df and replaced with 413
슬로베니아 is in small_df and replaced with 414
보스니아헤르체고비나 is in small_df and replaced with 415
그리스 is in small_df and replaced with 416
알바니아 is in small_df and replaced with 417
불가리아 is in small_df and replaced with 418
루마니아 is in small_df and replaced with 419
몰도바 is in small_df and replaced with 420
세르비아 is in small_df and replaced with 421
우크라이나 is in small_df and replaced with 422
폴란드 is in small_df and replaced with 423
벨라루스 is in small_df and replaced with 424
리투아니아 is in small_df and replaced with 425
라트비아 is in small_df and replaced with 426
에스토니아 is in small_df and replaced with 427
네덜란드 is in small_df and replaced with 428
벨기에 is in small_df and replaced with 429
핀란드 is in small_df and replaced with 430
스웨덴 is in small_df and replaced with 431
노르웨이 is in small_df and replaced with 432
아이슬란드 is in small_df and replaced with 433
덴마크 is in small_df and replaced with 434
안도라 is in small_df and replaced with 435
룩셈부르크 is in small_df and replaced with 436
마케도니아 is in small_df and replaced with 437
몬테네그로 is in small_df and replaced with 438
이집트 is in small_df and replaced with 501
리비아 is in small_df and replaced with 502
수단 is in small_df and replaced with 503
알제리 is in small_df and replaced with 504
튀니지 is in small_df and replaced with 505
모로코 is in small_df and replaced with 506
모리타니 is in small_df and replaced with 508
말리 is in small_df and replaced with 509
세네갈 is in small_df and replaced with 510
니제르 is in small_df and replaced with 511
차드 is in small_df and replaced with 512
에티오피아 is in small_df and replaced with 513
소말리아 is in small_df and replaced with 514
에리트레아 is in small_df and replaced with 515
지부티 is in small_df and replaced with 516
케냐 is in small_df and replaced with 517
탄자니아 is in small_df and replaced with 518
부룬디 is in small_df and replaced with 519
르완다 is in small_df and replaced with 520
중앙아프리카공화국 is in small_df and replaced with 521
카메룬 is in small_df and replaced with 522
나이지리아 is in small_df and replaced with 523
코트디부아르 is in small_df and replaced with 524
가나 is in small_df and replaced with 525
마다가스카르 is in small_df and replaced with 526
모잠비크 is in small_df and replaced with 527
스와질란드 is in small_df and replaced with 528
남아프리카공화국 is in small_df and replaced with 529
레소토 is in small_df and replaced with 530
나미비아 is in small_df and replaced with 531
보츠와나 is in small_df and replaced with 532
짐바브웨 is in small_df and replaced with 533
잠비아 is in small_df and replaced with 534
앙골라 is in small_df and replaced with 535
콩고 is in small_df and replaced with 536
가봉 is in small_df and replaced with 537
적도기니 is in small_df and replaced with 538
베냉 is in small_df and replaced with 539
토고 is in small_df and replaced with 540
부루키나파소 is in small_df and replaced with 541
라이베리아 is in small_df and replaced with 542
시에라리온 is in small_df and replaced with 543
기니 is in small_df and replaced with 544
기니비사우 is in small_df and replaced with 545
감비아 is in small_df and replaced with 546
말라위 is in small_df and replaced with 547
콩고민주공화국 is in small_df and replaced with 548
이스라엘 is in small_df and replaced with 549
우간다 is in small_df and replaced with 550
남수단 is in small_df and replaced with 551
중국 is in small_df and replaced with 601
일본 is in small_df and replaced with 602
대한민국 is in small_df and replaced with 603
인도 is in small_df and replaced with 604
타이 is in small_df and replaced with 605
베트남 is in small_df and replaced with 606
라오스 is in small_df and replaced with 607
캄보디아 is in small_df and replaced with 608
미얀마 is in small_df and replaced with 609
말레이시아 is in small_df and replaced with 610
필리핀 is in small_df and replaced with 611
인도네시아 is in small_df and replaced with 612
브루나이 is in small_df and replaced with 613
타이완 is in small_df and replaced with 614
방글라데시 is in small_df and replaced with 615
스리랑카 is in small_df and replaced with 616
부탄 is in small_df and replaced with 617
네팔 is in small_df and replaced with 618
파키스탄 is in small_df and replaced with 619
아프가니스탄 is in small_df and replaced with 620
이란 is in small_df and replaced with 621
이라크 is in small_df and replaced with 622
시리아 is in small_df and replaced with 623
사우디아라비아 is in small_df and replaced with 624
쿠웨이트 is in small_df and replaced with 625
오만 is in small_df and replaced with 626
예멘 is in small_df and replaced with 627
아랍에미리트 is in small_df and replaced with 628
카타르 is in small_df and replaced with 629
요르단 is in small_df and replaced with 630
레바논 is in small_df and replaced with 631
튀르키예 is in small_df and replaced with 632
조지아 is in small_df and replaced with 633
아르메니아 is in small_df and replaced with 634
아제르바이잔 is in small_df and replaced with 635
투르크메니스탄 is in small_df and replaced with 636
우즈베키스탄 is in small_df and replaced with 637
타지키스탄 is in small_df and replaced with 638
키르기스스탄 is in small_df and replaced with 639
카자흐스탄 is in small_df and replaced with 640
몽골 is in small_df and replaced with 641
키프로스 is in small_df and replaced with 642
러시아 is in small_df and replaced with 643
북한 is in small_df and replaced with 644
싱가포르 is in small_df and replaced with 645
홍콩 is in small_df and replaced with 646
오스트레일리아 is in small_df and replaced with 701
뉴질랜드 is in small_df and replaced with 702
파푸아뉴기니 is in small_df and replaced with 703
피지 is in small_df and replaced with 704
뉴칼레도니아 is in small_df and replaced with 705
바누아투 is in small_df and replaced with 706

In [38]:
small_df

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK,country_code
0,646,홍콩,114.0599,22.4114,2962,아시아,ASIA,7497,105,21,646.0
1,412,헝가리,19.6180,47.1740,585,유럽,EUROPE,9660,95,71,412.0
2,603,대한민국,128.1600,36.3380,1728,아시아,ASIA,51269,28,38,603.0
3,611,필리핀,121.2560,17.1810,226,아시아,ASIA,109581,13,107,611.0
4,430,핀란드,26.1920,62.7160,386,유럽,EUROPE,5541,117,89,430.0
...,...,...,...,...,...,...,...,...,...,...,...
216,0,과들루프,-61.5527,16.2495,90,북아메리카,NORTH,400,176,135,NaN
217,546,감비아,-14.6410,13.4990,216,아프리카,AFRICA,2417,145,108,546.0
218,207,기아나,-58.9390,5.1700,31,남아메리카,SA,787,164,171,207.0
219,537,가봉,11.9140,-0.4060,417,아프리카,AFRICA,2226,147,83,537.0
220,525,가나,-1.0620,7.2580,476,아프리카,AFRICA,31073,48,81,525.0

In [40]:
final_df

     country_code NAT_HAN_NM       lng      lat    CNT     대륙 CONTINENT  code
0             646         홍콩  114.0599  22.4114    996    아시아      ASIA   600
1             412        헝가리   19.6180  47.1740  49946     유럽    EUROPE   400
2             603       대한민국  128.1600  36.3380   2190    아시아      ASIA   600
3             611        필리핀  121.2560  17.1810      0    아시아      ASIA   600
4             430        핀란드   26.1920  62.7160   2270     유럽    EUROPE   400
..            ...        ...       ...      ...    ...    ...       ...   ...
216             0       과들루프  -61.5527  16.2495      0  북아메리카       NaN   100
217           546        감비아  -14.6410  13.4990      0   아프리카    AFRICA   500
218           207        기아나  -58.9390   5.1700      0  남아메리카        SA   200
219           537         가봉   11.9140  -0.4060      0   아프리카    AFRICA   500
220           525         가나   -1.0620   7.2580      0   아프리카    AFRICA   500

[221 rows x 8 columns]

### final_df의 인구수, 이민자 수 다시 반영하기

In [41]:
df_cc = pd.read_csv("C:/Users/admin/workspace/[09] 세계지도.csv", encoding='cp949')

In [42]:
df_cc[df_cc['NAT_NM']=='사우디아라비아']

    code   NAT_NM    lng     lat  POP_CT_1000_UNIT_CNT  IMGRT_CNT
40     0  사우디아라비아  44.32  24.191                 34814      13455

### scv로 변환하기

In [43]:
final_df.to_csv("C:/Users/admin/workspace/출입국자_지도_국가코드_6대륙_final.csv", encoding='cp949', index=False)
small_df.to_csv("C:/Users/admin/workspace/출입국자_지도_국가코드_6대륙_250613.csv", encoding='cp949', index=False)

### Test_Data_Set

In [48]:
small_df[small_df['NAT_HAN_NM']=="몽골"]

,code,NAT_HAN_NM,lng,lat,CNT,대륙,CONTINENT,POP_CT_1000_UNIT_CNT,POP_RANK,IMM_RANK,country_code
161,641,몽골,102.564,46.516,21,아시아,ASIA,3278,137,177,641.0

In [55]:
small_df.loc[small_df['NAT_HAN_NM']=="몽골", 'code'] = 642
small_df.loc[small_df['NAT_HAN_NM']=="카자흐스탄", 'code'] = 641

In [56]:
small_df.to_csv("C:/Users/admin/workspace/출입국자_지도_국가코드_6대륙_250613_test.csv", encoding='cp949', index=False)